<div class="container">
    {{#each Categories}}
        <div style="margin-bottom: 10px;">
            <div class="card">
                <img style="width: auto; height: 200px;object-fit: cover;" src="{{this.avatar}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a class="btn btn-primary" href="/category/{{this.name}}" role="button">Xem Bài Viết</a>                    
                </div>
            </div>
        </div>
        
    {{/each}}
</div>
