<h3>{{User.email}}</h3>

<form method="post" action="/profile">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
    <input value="{{User.password}}" name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tên Người Dùng</label>
    <input value="{{User.userName}}" name="userName" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tuổi</label>
    <input value="{{User.age}}" name="age" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Giới Tính</label>
    <select name="gender" id="Category" class="form-select" aria-label="Default select example">
          <option value="1">Nam</option>
          <option value="0">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Sửa Đổi Thông Tin</button>
</form>



{{#if u}}
<div style="margin-top: 10px;">
  <div class="alert alert-success" role="alert">
    Sửa thông tin thành công!
  </div>
</div>
{{/if}}
